<footer>
  <div class="footer-links">
      <h4>SWEET <span> SHOP </span></h4>
     <div class="social">
       <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
       <a><i class="fa fa-google-plus" aria-hidden="true"></i></a>
       <a><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
       <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
     </div>
    <div class="links">
      <a>Menu</a>
      <a>Help</a>
      <a>About us</a>
      <a>Story</a>
      <a>Location</a>
    </div>
    <div class="additional-links">
      <a>Contact us</a>
      <a>|</a>
      <a>Blog</a>
      <a>|</a>
      <a>Delivery</a>
    </div>
  </div>
  <div class="footer-app" *ngIf="!onDetail">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-right">
          <img src="./../../../assets/img/mobile.png" class="mobile img-fluid">
        </div>
        <div class="col-md-6 align-self-center">
            <h4>Avail Attractive Offer On Your Order.</h4>
            <h4>Download Our Apps Today.</h4>
          <div class="app-downloads">
            <button type="button" class="btn btn-link p-0 mr-3">
              <img src="./../../../assets/img/apple.png" height="50">
            </button>
            <button type="button" class="btn btn-link p-0 mr-3">
              <img src="./../../../assets/img/playstore.png" height="50">
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-last">
    All Rights Reserved
  </div>
</footer>
