<header>
  <nav class="navbar navbar-expand-lg top-bar">
    <div class="navbar-collapse container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="tel:864115412">
            Call Us: 52521451254
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
  </nav>


  <nav class="navbar navbar-expand-lg px-5 main-menu">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/img/logo.png" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Location </a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="#">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="#">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-dark">9</span>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>
