<section class="popular">
  <div class="container">
    <h2 [class]="temp.align">
      <span>{{temp.title1}} </span> {{temp.title2}}
    </h2>
    <div class="row">
      <div class="col-12">
        <carousel [itemsPerSlide]="4" [singleSlideOffset]="false">
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
<!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                        <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card">
              <img src="./../../../assets/img/Champakali_COMPRESSED.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="./../../../assets/img/veg.png" height="20">
                  Kaju Apple
                </h5>
                <!--                <p class="card-text">Majour Ingrdients: Kaju, Sugar, Natural Kesar</p>-->
                <p class="card-text"><small class="text-muted">Majour Ingrdients: Kaju, Sugar, Natural Kesar</small></p>
                <div class="row">
                  <div class="col-6">
                    <div class="btn-group" dropdown>
                      <button  dropdownToggle type="button"
                              class="btn btn-sm btn-light dropdown-toggle"
                              aria-controls="dropdown-basic">
                        <small>
                          <span class="text-secondary">250Gm</span> - Rs. 275</small> <span class="caret"></span>
                      </button>
                      <ul  *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="">
                        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-sm btn-warning text-white">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>

    </div>
  </div>

</section>

