<section class="banner">
  <carousel [isAnimated]="true">
    <slide>
      <img src="./../../assets/img/banner1.png" alt="first slide">
    </slide>
    <slide>
      <img src="./../../assets/img/banner4.jpg" alt="first slide">
    </slide>
    <slide>
      <img src="./../../assets/img/sweets-banner.jpg" alt="first slide">
    </slide>
  </carousel>
</section>

<section class="our-menu">
  <div class="container">
    <h2>OUR <span>MENU</span></h2>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/Anjeer_Dry_Fruit_Roll_COMPRESSED.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/Anjeer_Dry_Fruit_Roll_COMPRESSED.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/sweea181.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/maxresdefault.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/Kaju_Roll_COMPRESSED.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/CHOCO_BISCUITS_COMPRESSED.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/akaash-namkin.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="item">
          <img src="./../../assets/img/53928940.jpg" class="img-fluid">
          <div class="content">
            <div class="title">
              Dry Fruit Sweet
            </div>
            <div class="description">

              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-light"> Order Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-warning btn-view">View Menu</button>
    </div>
  </div>
</section>

<app-popular></app-popular>
